<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}図書館貸出管理アプリ{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>図書館貸出管理アプリ</h1>
        <p style="font-size:10px;text-align: right;">ログイン中：大原太郎 さん</p>
        
        <nav class="header-nav">
            <a href="{{ url_for('show_home') }}">ホーム</a> |
            <a href="{{ url_for('books.index') }}">本管理</a> |
            <a href="{{ url_for('users.index') }}">利用者管理</a> |
            <a href="{{ url_for('borrows.index') }}">貸出中一覧</a> |
            <a href="#">新規貸出</a>
        </nav>
        <hr>

        <!-- 各機能 -->
        {% block content %}{% endblock %}
    </div>


 
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tableWrapper = document.querySelector('.table-wrapper');

            if (!tableWrapper) return;

            const key = 'scrollPos_' + location.pathname;

            const savedPos = sessionStorage.getItem(key);
            if (savedPos !== null) {
                tableWrapper.scrollTop = parseInt(savedPos);
            }

            window.addEventListener('beforeunload', function () {
                sessionStorage.setItem(key, tableWrapper.scrollTop);
            });
        });
    </script>



</body>
</html>