<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>利用者一覧</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>利用者一覧</h1>
        
        <!-- 新規作成ボタン -->
        <a href="{{ url_for('new_user') }}" class="button">新規作成</a>
        
        <hr>

        <!-- 未登録の場合の処理 -->
        {% if not list_users %}
            <p>利用者が登録されていません。</p>
        {% endif %}

        <ul>
            {% for user in list_users %}
            <li>
                <div>
                    <p><strong>利用者ID：{{ user.user_id }}</strong></p>
                    <p>利用者名：{{ user.name }}</p>
                    <p>email：{{ user.email }}</p>
                    
                    <!--削除ボタン-->
                    <form action="{{ url_for('delete_user', user_id=user.user_id) }}" method="POST" style="display: inline;">
                        <input type="submit" value="削除" class="delete-button" onclick="return confirm('本当に削除しますか？')">
                    </form>
                    
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>

        <hr>
    </div>
</body>
</html>